/build
/coverage

.env
.env.development.local
.env.local
.env.production.local
.env.test.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

*.mp3
*.mp4

/node_modules
/.pnp
.pnp.js

__pycache__/
.ipynb_checkpoints/
*.py[cod]
.venv/

.vscode/
